.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.canvas-3d {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 30px;
  z-index: 0;
  /* background: -moz-linear-gradient(top,  rgba(51,51,51,0) 0%, rgba(80,80,80,1) 100%); /* FF3.6-15 */
  /* background: -webkit-linear-gradient(top,  rgba(51,51,51,0) 0%,rgba(80,80,80,1) 100%); /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(to bottom,  rgba(51,51,51,0) 0%,rgba(80,80,80,1) 100%); /* W3C, IE10, FF16, Chrome26, Opera12, Safari7 */
  /* Rectangle 3: */
  background: linear-gradient(to bottom,  rgba(51,51,51,0) 0%,rgba(80,80,80,1) 100%);
  max-height: calc(100vh - 30px);
}

.container-3d {
  background: linear-gradient(to bottom,  rgba(51,51,51,0) 0%,rgba(80,80,80,1) 100%);
}